[mainConfig]
appName = ""
host = ""
port = 0

[emailConfig]
authcode = ""
email = ""

[redisConfig]
host = ""
port = 0
password = ""
db = 0

[mysqlConfig]
host = ""
port = 0
user = ""
password = ""
databaseName = ""
charset = ""

[jwtConfig]
expire_duration = 8760
issuer = ""
subject = ""
key = ""

[rabbitmqConfig]
host = ""
port = 0
username = ""
password = ""
vhost = ""

[aiConfig]
qwenApiKey = ""
qwenModel = ""
qwenBaseURL = ""
deepseekApiKey = ""
deepseekModel = ""
deepseekBaseURL = ""
timeoutSeconds = 0
maxTokens = 0

[ragModelConfig]
apiKey = ""
embeddingModel = ""
chatModelName = ""
docDir = ""
baseUrl = ""
dimension = 0

[voiceServiceConfig]
voiceServiceApiKey = ""
voiceServiceSecretKey = ""
